 @charset "UTF-8";
 main {
    margin: 100px;
    border: 3px solid #0f0f0f;
    border-radius: 16px;
    width: 400px;
 }
 .pic {
    text-align: center;
    padding-top: 30px;
 }
 h1 {
    background-color: aqua;
    font-size: medium;
    font-weight: 100px;
    padding: 16px;
    text-align: center;
    margin: 50;
 }
 
 